.heading{
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  font-family: Georgia, Times, 'Times New Roman', serif;
  color: #4c525a;  
  padding: 20px 0px;
}

.add-on-container {
  color: #1d4289;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6% 6.5%;
  margin: 20px 0px;
  border: 1px solid #1d4289;
}

.add-on-type {
  font-size: 20px;
  font-weight: 550;
}

.add-on-description {
  font-weight: lighter;
  font-size: 16px;
}

.add-on-right{
  font-size: 30px;
  text-align: center;
}

.price-top{
  font-size: 40px;
}

.price-bottom{
  font-size: 14px;
  font-weight: lighter;
}
