.card{
  width: 100%;
  margin: 15px 0;
  padding: 20px;
  background-color: white;
  color: #4C525A;
  position: relative;
  border: solid .5px gray;
  border-radius: 4px;
  height: 600px;
}


/* .card{
  display: inline-block;
  min-width: fit-content;
  position: relative;
} */

.plan{
  font-size: 25px;
  font-weight: bold;
}

.price-container{
  padding: 30px 0px;
  border-bottom: solid 2px #1d4289;
}

.price-left{
  font-size: 60px;
}

.price-right{
  font-size: 22px;
  padding-left: 10px;
}

.features {
  list-style-type: none;
  margin: 0px;
  padding: 20px 0px;
  height: 55%;
}

.features li{
  margin: 1em 0em;
  background-image: url("https://assets-global.website-files.com/58868bcd2ef4daaf0f072900/5e668ac7510abc1d0f5c1c14_green-tick.svg");
  background-repeat: no-repeat;
  padding-left: 20px;
  background-position: 1px;
}

.badge{
  color:#fff;
  background-color: #1d4289;
  padding: 1px 5px;
  margin: 0px 7px;
  font-size: 12px;
  border-radius: 2px;
}

.start-button{
  padding: 22px;
  background-color: #1d4289;
  color: #fff;
  font-family: 'Proximanova opt', sans-serif;
  font-size: 13px;
  font-weight: 700;
  border: 1px solid #1d4289;
  border-radius: 4px;
  width: 100%;
}

.banner{
  position: absolute;
  right: -14%;
  top: 9%;
  background-color: #1d4289;
  color: #fff;
  padding: 10px 0px;
  height: 20px;
  width: 300px;
  font-weight: bold;
  font-size: 18px;
  transform: rotate(45deg);
  text-align: center;
  letter-spacing: 1px;
}

@media only screen and (min-width: 1024px) {
    .card {
      flex-shrink: 1;
    }
}
