.navbar{
  position:sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: normal;
  font-size: 18px;
  padding: 10px 15px;
  background: #1d4289;
  z-index: 1;
  height: 40px;
}

.navbar-left{
  display: flex;
  align-items: center;
}

.navbar-right{
  display: flex;
  align-items: center;
}

.navbar-options{
  display: none;
  list-style: none;
  margin: 0;
  padding: 0px 20px;
  align-items: center;
}

.navbar-options li{
  float: left;
}

.navbar-options li a{
  display: block;
  padding: 0px 20px;
  text-decoration: none;
  color: #ffffff;
}

.logo {
  font-size: 24px;
}
.menu-mobile{
  border: none;
  background: none;
  padding: 0;
  font-size: 24px;
}

.navbar-options button{
  color: #1d4289;
  background-color: #ffffff;
  font: bolder 16px Montserrat, sans-serif;
  border-radius: 5px;
  border: none;
  width:100%;
  padding: 10px;
}

.carat{
  padding-left: 5px;
}

.dropdown-content{
  display: none;
  position: absolute;
  z-index: 1;
  background-color: white;
  width: 400px;
  font-family: 'Proximanova opt', sans-serif;
  font-size: 17px;
  height: max-content;
  list-style-type: none;
  box-shadow: rgba(2, 4, 69, 0.1) 0px 1px 60px 0px;
}

.option:hover .dropdown-content{
  display: block;
}

.dropdown-option:hover{
  background-color: #02044506;
}

.dropdown-text{
  border-bottom: solid .5px #02044528;
  margin: 0px 40px;
  padding: 40px 0px;
}

.dropdown-option-title{
  font-family: serif;
  font-size: 20px;
  padding-bottom: 10px;
}

@media only screen and (min-width: 1000px) {
  .menu-mobile{
    display: none;
  }

  .navbar-options{
    display: flex;
  }
}