.plans-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 38.5%;
}

.frequency {
  display: flex;
  justify-content: space-evenly;
  font-family: sans-serif;
  align-items: center;
  font-weight: bold;
}

.switch{
  margin: 0px 30px;
  position: relative;
  display: inline-block;
  width: 53px;
  height: 30px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00B289;
  border-radius: 35px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: .1s;
  border-radius: 50%;
}

input:checked + .slider:before {
  -webkit-transform: translateX(23px);
  -ms-transform: translateX(23px);
  transform: translateX(23px);
}

.frequency-checked {
  opacity: .5;
}

