h1{
  text-align: center;
  color: #1d4289;
}

button {
  cursor: pointer;
}

.page {
  padding-bottom: 40px;
}

.pricing-page {
  margin-left: auto;
  margin-right:auto;
  padding: 0 20px;
}

@media only screen and (min-width: 748px) {
  .pricing-page {
    padding: 0 40px;
    max-width: 1000px;
  }
}

